@charset "UTF-8";

@font-face {
    font-family: 'Alte Haas';
    src: url('../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Bold';
    src: url('../fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    scrollbar-width: none;
    -webkit-appearance: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    box-sizing: border-box;
}

*::-webkit-scrollbar {
    scrollbar-width: none;
    -webkit-appearance: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 0;
    height: 0;
}


:root {
    --small-font-size: 11.5px;
    --medium-font-size: 15.5px;
    --large-font-size: 40px;

    --small-line-height: 12px;
    --medium-line-height: 14.5px;
    --large-line-height: 40px;

    --background-color: #fff;
    --font-color: #000;
}



html {}

body {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: none;
    font-family: Alte Haas;

    background: #F5E562;
}

.bold {
    font-family: "Alte Haas Bold";
}

a {
    color: #000;
}

a:visited {
    color: #000;
}
